#friends-display-link {
  text-align: center;
  display: block;
  background-color: #ffe2e2;
  padding: 15px 0;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

#friend-screen {
  background-color: var(--pink);
  height: 1000px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 15px 0px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--dim-color);
  font-size: 25px;
}

.friends-screen__friends {
  margin-top: 25px;
}

.friends-screen__friends-header {
  color: var(--dim-color);
  font-size: 25px;
  margin-bottom: 15px;
}

.user-component__friend {
  margin-top: 15px;
}

.friend {
  margin-bottom: 15px;
}
