#index-screen {
  background-color: var(--pink);
}

.welcome-header {
  margin: 90px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
}

.welcome-header__title {
  font-size: 50px;
  margin-bottom: 20px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
  font-size: 25px;
}

.login-info {
  border-radius: 30px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  padding: 15px 18px;
  border: none;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Dongle", sans-serif;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--pink);
}

#login-form input[type="submit"] {
  background-color: pink;
  cursor: pointer;
  border-radius: 5px;
  padding: 20px 0;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}
