#settings-screen {
  background-color: var(--pink);
  height: 950px;
}

.settings__setting {
  padding: 15px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i,
.settings__logout i {
  margin-right: 20px;
  opacity: 0.8;
  font-size: 22px;
}

.settings__setting-column:last-child {
  opacity: 0.7;
}

.settings__logout {
  padding: 15px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
