#not-allowed {
  background-color: var(--pink);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  visibility: hidden;
}

@media screen and (min-width: 564px) {
  #not-allowed {
    visibility: visible;
  }
}
